{% extends "bootstrap-starter.html" %}

{% block title %}NimeSEL-Echanges - Groupe de référence de l'association NîmeSEL, (Système d'Echanges Locaux) pour les échanges de biens et de services non monétarisés sur Nîmes et sa région.{% endblock %}

{% block header %}
<div class="hero-unit">
    <h1 data-i18n="nimesel">NimeSEL-Echanges<img src="/img/nimesel-logo.png" style="align: right"/></h1>
    <p>
        Groupe de référence de l'association NîmeSEL, (Système d'Echanges Locaux) pour les échanges de biens et de services non monétarisés sur Nîmes et sa région.
    </p>
</div>
    
{% endblock %}

{% block main %}
    {% if is_testenv%}
    <div class="alert">
        <strong>ALERT</strong>: you are currently using the development environment
    </div>
    {% endif %}
    <div class="row">
        <div class="span9">
          {% if prefs %}
            <h2>Bienvenu, {{ prefs.name }}, qu’est-ce qu’un SEL?</h2>
          {% else %}
            <h2>Qu’est-ce qu’un SEL?</h2>
          {% endif %}
            <p>« Les richesses des 350 habitants les plus riches de la terre est égale à la « richesse » (ou la misère ?) des deux milliards trois cents millions des habitants les plus pauvres. Le système monétaire archaïque et périmé continue à régner en faisant des ravages dans l’humanité et nos télescopes sont si puissants que nous ne pourrons plus voir ce qui se passe ici, chez nous. »
                François Terris.
<p>
                C’est sur ce malheureux constat que le SEL est né, d’abord outre atlantique, puis en France, en 1995. Il y a maintenant des SEL un peu partout dans le monde, dont plus de 300 sur notre territoire.
</p><p>
                Mais, concrètement, un SEL, c’est quoi ?
</p><p>
                Les Systèmes d’Echange Local, ou Services d’Echange Local, sont des groupes de personnes qui pratiquent l’échange multilatéral de biens, de services, et de savoirs.
            </p>
        </div>
        <div class="span1">
            <a rel="nofollow" class="twitter-share-button" 
               href="http://twitter.com/share" 
               data-count="vertical"
               data-via="nimesel"
               data-text="Système d'Echanges Locaux pour les échanges de biens et de services non monétarisés sur Nîmes."></a> 
        </div> 
        <div class="span1"> 
            <g:plusone size="tall"></g:plusone> 
        </div>     
        <div class="span1"> 
            <fb:like href="" send="false" layout="box_count" width="40" show_faces="false" font=""></fb:like> 
            <div id="fb-root"></div> 
        </div> 
    </div>
    <div class="row">
        <div class="span6">
            <h3>NimeSEL : c’est quoi ? à quoi ça sert ?</h3>
            <p>
                NimeSEL est une association, régie par la loi de 1901, fondée entre des adhérents à des statuts.
                Les statuts de SEL’idaire se réfèrent à la Charte intitulée « l’esprit du SEL ».
            </p>
            <p>
                Les buts : promouvoir les SEL, faciliter leur création et leur développement, développer la solidarité entre eux, favoriser la circulation de l’information entre eux et avec l’extérieur.
            </p>
            <p>
                Tous les SEL et tous leurs membres bénéficient des services de NimeSEL.
                NimeSEL n’est pas une fédération des SEL ; elle ne représente pas les SEL, elle respecte leur diversité.
            </p>
            <div class="alert">
                SEL<a rel="nofollow" target="_new" href="/">NimeSEL<span class="icon-external-link"></span></a>
            </div>
        </div>
        <div class="span6">
            <h3>NimeSEL, c’est qui ?</h3>
            <p>
                D’une part, peuvent être adhérents:
                <ul>
                 <li class="icon-star">les SEL français ou étrangers, ce sont eux qui votent par correspondance les orientations de SEL’idaire et les moyens à mettre en oeuvre</li>
                 
                 <li class="icon-star">les groupes proches des SEL</li>
                 <li class="icon-star">les selistes eux-mêmes</li>
            </p>
            <p>
                SEL’idaire et les moyens à mettre en oeuvre:
                <ul>
                 <li class="icon-star">les groupes proches des SEL</li>
                 <li class="icon-star">les selistes eux-mêmes.</li>
                </ul class="icon-star">
            </p>
            <p>
                D’autre part, des personnes volontaires participent :
                <ul>
                 <li class="icon-star">aux activités organisées en ateliers autonomes</li>
                 <li class="icon-star">au Comité de NimeSEL, pour atteindre concrètement les buts de NimeSEL</li>
                </ul>
            </p>
        </div>        
    </div>
    <hr/>
    <div class="row">
        <div class="span6">
            <h2>La Charte de NîmeSEL</h2>
            <div class="row">
            <div class="span3">
                <ul> 
                    <li class="icon-ok">L’ensemble des Adhérents assure le bon fonctionnement du SEL, par son engagement à respecter les différents articles de la Charte.</li>
                    <li class="icon-ok">Le SEL ne doit pas être utilisé pour répondre à des objectifs commerciaux, idéologiques ou religieux.</li>
                    <li class="icon-ok">Le SEL met en contact les Demandeurs et les Offrants. Il fournit un échange d’informa- tions pour faciliter les échanges de service, de biens et de savoir-faire.</li>
                    <li class="icon-ok">L’unité d’échange commune à tous les SEL est l’unité-temps (1 heure = 60 unités ; 1 minute = 1 unité). Pour NîmeSel cette unité s’appelle la «Pépite».
                    <li class="icon-ok">Le S.E.L. ne fournit aucune garantie quant à la qualité, les conditions et la valeur des services ou des produits négociés.</li>
                    <li class="icon-ok">Chaque Adhérent doit avoir une assurance responsabilité individuelle civile et une assurance santé.</li>
                    <li class="icon-ok">Chaque Adhérent accepte que ses coordonnées soient communiquées aux autres, afin de permettre les échanges.</li>
                    <li class="icon-ok">Le montant de chaque échange résulte d’une entente entre les deux Adhérents concernés. Un Adhérent n’est jamais obligé d’accepter une offre ou une demande.</li>
                </ul>
            </div>
            <div class="span3">
                <ul>
                  <li class="icon-ok">La cotisation annuelle est de 6 Euros par famille. Elle sera versée en numéraire auprès du trésorier de l’Association. Elle sera renouvelée au premier janvier. Les adhésions en cours d’année peuvent bénéficier d’un tarif réduit. Lors de l’adhésion le compte en Pépites de chacun est crédité de 100 Pépites en signe de bienvenue dans l’Association.</li>
                  <li class="icon-ok">Chaque adhérent tient une comptabilité rigoureuse et transparente de ses échanges et de son solde de Pépites sur le Carnet de Sel. Dès qu’il est concrétisé, chaque échange doit être inscrit sur Carnet de Sel. Le montant est exprimé en Pépites. Les soldes des comptes individuels sont validés une fois par an par un membre du Bureau, et publiés dans «Le Pépitier».</li>
                  <li class="icon-ok">Le compte de chacun doit tendre à l’équilibre dans la limite de + ou - 3000 pépites, mais des écarts plus importants peuvent être tolérés. Tout Adhérent s’engage à ne quitter l’Association que si son compte n’est pas négatif.</li>
                  <li class="icon-ok">Le Bureau peut: - refuser l’admission d’une personne dans des circonstances exceptionnelles ; - convoquer une assemblée générale extraordinaire pour statuer sur l’exclusion d’une personne dont le comportement serait contraire au bon fonctionnement du SEL ; - refuser de publier une proposition de transaction si elle est contraire à l’esprit du SEL.</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="span6">
            <h2>Historique des SEL</h2>
            <p>
                Même s’ils sont apparus récemment, les Sel sont le dernier ( ?) avatar d’une longue histoire : celle des monnaies locales. L’avenir se cache souvent sous le passé : à l’heure de l’Euro et des monnaies virtuelles, qui peut dire quelle sera la place que prendront nos "grains", "truffes", "sourires", "piafs" et autres "châtaignes" ?
            </p>
            <p>
                Dans les années 80, Michael LINTON, écossais vivant dans une région touchée par la crise (l’île de Vancouver à l’extrême ouest du Canada), frappé de voir autant de gens doués de savoir-faire, réduits à l’inactivité du fait d’un manque d’argent, se mit en tête de rationaliser un autre moyen d’échange utilisé localement : le troc. Il inventa le L.E.T.S. : LOCAL EXCHANGE TRADING SYSTEM. 
            </p>
            <p>
                Au Canada, en Australie, puis en Grande Bretagne, aux Pays Bas .. l’idée s’est propagée ; ces réseaux regroupent en Grande Bretagne plus de 20 000 personnes au sein de quelques 300 groupes ; les premiers L.E.T.S. ont pris naissance dans des quartiers pauvres de villes parsemmées de friches industrielles mais les L.E.T.S. aujourd’hui gagnent les campagnes. En ces temps de chômage structurels, d’exclusion, de mise à la retraite anticipée, de contrats au rabais et de travail à mi-temps, on comprend que les L.E.T.S. connaissent une expansion rapide (voir la rubrique "liens" - Sel de France et Sel du Monde").
            </p>
            <p>
               Le premier SYSTEME D’ECHANGE LOCAL Français a vu le jour en Ariège en Octobre 1994, et comptait en 1996 380 adhérents. D’autres SEL sont nés depuis dans presque tous les départements de France, on en compte aujourd’hui près de 350 (voir la rubrique "liste des SEL"). 
            </p>

            <h2>NimeSEL Mode d’Emploi</h3>
            <ul>
                <li class="icon-star">SSS</li>
                <li class="icon-star">ZZZ</li>
                <li class="icon-star">DDD</li>
            </ul>
        </div>
    </div>
    
    <script> 
        (function(w,d){
            Modernizr.load({load: '//connect.facebook.net/en_US/all.js#xfbml=1'});
            Modernizr.load({load: '//platform.twitter.com/widgets.js'});
            Modernizr.load({load: 'https://apis.google.com/js/plusone.js'});
        }(this,document));
    </script>  
{% endblock %}
