<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{nav_bar.home}}">NimeSEL-Echanges</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="{{nav_bar.home}}"><span class="icon-home"></span>Accueil</a></li>
          <li><a href="{{nav_bar.comprendre}}"><span class="icon-info-sign icon-white icon-large"></span>Comprendre</a></li>
          {% if prefs %}
            <li><a href="{{nav_bar.forum}}"><span class="icon-fire icon-white icon-large"></span>Forum</a></li>
          {% else %}
            <li><a href="{{nav_bar.login}}"><span class="icon-github-sign icon-white icon-large"></span>Adhérer</a></li>
          {% endif %}
          <li><a href="{{nav_bar.faq}}"><span class="icon-question-sign icon-white icon-large"></span>Foire Aux Questions (F.A.Q.)</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-heart"></span>Des Échanges<span class="caret"</span></a>
            <ul class="dropdown-menu">
              <li><a href="{{nav_bar.home}}">Les Offres</a></li>
              <li><a href="{{nav_bar.home}}">Les Demandes</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span>Contact<span class="caret"</span></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.twitter.com/nimesel">@nimesel<span class="icon-twitter-sign icon-large pull-right"></span></a></li>
              <li><a href="#">Facebook<span class="icon-facebook-sign icon-large pull-right"></span></a></li>
              <li><a href="#">LinkedIN<span class="icon-linkedin-sign icon-large pull-right"></span></a></li>
            </ul>
          </li>
        </ul>
        <div class="pull-right">
          <ul class="nav">
            {% if prefs %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="//www.gravatar.com/avatar/{{prefs.email_md5}}?s=16&d=mm" align="absmiddle" /> {{prefs.nickname}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{nav_bar.account}}">Infos compte<span class="icon-cogs pull-right"></span></a></li>
                <li><a href="{{nav_bar.logout}}">Déconnexion<span class="icon-signout pull-right"></span></a></li>
              </ul>
            </li>
            {% else %}
            <!--<li><a href="/login?continue-/">Test The Login</a></li>-->
            <li><a href="{{nav_bar.login}}"><span class="icon-signin"></span>Connexion</a></li>
            {% endif %}
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>